server-list cell .new-entry,
buddy-list cell .new-entry {
  color: grey;
  font-style: italic;
}

server-list #country_flag {
  -gtk-icon-transform: scale(1.5) translateY(1px);
}

server-list #players_cell.no-slots {
  color:  darkRed;
}

server-list #players_cell.not-empty {
  color: darkGreen;
}

server-info {
  margin: 8px;
}

server-info #error {
  font-weight: bold;
}

preferences .group-title {
  font-weight: bold;
}
