name: Build

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    strategy:
      matrix:
        include:
          - { image: ubuntu-22.04,     arch: x86_64  }
          - { image: ubuntu-24.04,     arch: x86_64  }
          - { image: ubuntu-24.04-arm, arch: aarch64 }

    runs-on: ${{ matrix.image }}

    env:
      OUTDIR: out

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y meson ninja-build cmake gettext desktop-file-utils appstream-util valac imagemagick libgee-0.8-dev libgtk-4-dev libadwaita-1-dev liblua5.4-dev libgeoip-dev

    - name: Extract version
      run: |
        VERSION=$(grep -oP "version: '\K[0-9]+\.[0-9]+\.[0-9]+" meson.build)
        echo "APP_VERSION=$VERSION" >> $GITHUB_ENV

    - name: Setup meson project
      run: meson setup builddir --buildtype=release --prefix=/usr

    - name: Compile
      run: cd builddir && ninja

    - name: Run tests
      run: cd builddir && ninja test

    - name: Install application
      run: cd builddir && DESTDIR=$GITHUB_WORKSPACE/${{ env.OUTDIR }} ninja install

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: >-
          ${{
            (github.event_name == 'pull_request' &&
              format('gswatcher_{0}+{1}.pr{2}.build{3}', env.APP_VERSION, matrix.image, github.event.number, github.run_number)) ||
            format('gswatcher_{0}+{1}.build{2}', env.APP_VERSION, matrix.image, github.run_number)
          }}
        path: ${{ env.OUTDIR }}/usr

  build-windows:
    strategy:
      matrix:
        include:
          - { image: windows-2022,   arch: x86_64,  sys: ucrt64     }
          - { image: windows-11-arm, arch: aarch64, sys: clangarm64 }

    runs-on: ${{ matrix.image }}

    env:
      OUTDIR: out

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup dependencies
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.sys }}
        update: true
        pacboy: >-
            gcc:p
            gcc-libs:p
            meson:p
            ninja:p
            pkg-config:p
            gettext:p
            appstream:p
            vala:p
            libgee:p
            libadwaita:p
            lua:p
            geoip:p
            imagemagick:p
            inkscape:p

    - name: Extract version
      run: |
        VERSION=$(grep -oP "version: '\K[0-9]+\.[0-9]+\.[0-9]+" meson.build)
        echo "APP_VERSION=$VERSION" >> $GITHUB_ENV

    - name: Setup meson project
      run: meson setup builddir --buildtype=release

    - name: Compile
      run: cd builddir && ninja

    - name: Run tests
      run: cd builddir && ninja test

    - name: Install application
      run: cd builddir && DESTDIR=$GITHUB_WORKSPACE/${{ env.OUTDIR }} ninja install

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: >-
          ${{
            (github.event_name == 'pull_request' &&
              format('gswatcher_{0}+{1}.pr{2}.build{3}', env.APP_VERSION, matrix.image, github.event.number, github.run_number)) ||
            format('gswatcher_{0}+{1}.build{2}', env.APP_VERSION, matrix.image, github.run_number)
          }}
        path: ${{ env.OUTDIR }}/a/_temp/msys64/${{ matrix.sys }} # FIXME: why so complicated?

  create-windows-portable:
    strategy:
      matrix:
        include:
          - { image: windows-2022,   arch: x86_64,  sys: ucrt64     }
          - { image: windows-11-arm, arch: aarch64, sys: clangarm64 }

    runs-on: ${{ matrix.image }}

    needs: build-windows

    defaults:
      run:
        shell: msys2 {0}

    env:
      OUTDIR: out
      ARCH: ${{ matrix.arch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup dependencies
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: true
          pacboy: >-
            vala:p
            libgee:p
            libadwaita:p
            lua:p
            geoip:p
            zip:

      - name: Extract version
        run: |
          VERSION=$(grep -oP "version: '\K[0-9]+\.[0-9]+\.[0-9]+" meson.build)
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: gswatcher_${{ env.APP_VERSION }}+${{ matrix.image }}.*
          path: temp_artifacts

      - name: Extract build artifacts
        run: |
          ARTIFACT_DIR=$(find temp_artifacts -maxdepth 1 -type d -name "gswatcher_${{ env.APP_VERSION }}+${{ matrix.image }}.*" | head -n 1)
          mkdir -p ${{ env.OUTDIR }}
          cp -r "$ARTIFACT_DIR"/* ${{ env.OUTDIR }}/
          rm -rf temp_artifacts

      - name: Create distribution
        run: |
          ldd ${{ env.OUTDIR }}/bin/gswatcher.exe | grep -o '/.*\.dll' | while read -r dll; do
            if [[ "$dll" == /${{ matrix.sys }}/bin/* ]]; then
              cp "$dll" ${{ env.OUTDIR }}/bin/
            fi
          done

          mkdir -p ${{ env.OUTDIR }}/etc
          cp /${{ matrix.sys }}/bin/gdbus.exe ${{ env.OUTDIR }}/bin
          cp -r /${{ matrix.sys }}/etc/fonts ${{ env.OUTDIR }}/etc
          cp -r /${{ matrix.sys }}/share/fontconfig ${{ env.OUTDIR }}/share
          cp -r /${{ matrix.sys }}/share/glib-2.0/schemas ${{ env.OUTDIR }}/share/glib-2.0
          cp -r /${{ matrix.sys }}/share/icons ${{ env.OUTDIR }}/share && rm -r ${{ env.OUTDIR }}/share/icons/Adwaita/cursors
          cp -r /${{ matrix.sys }}/share/locale ${{ env.OUTDIR }}/share

          mkdir -p "${{ env.OUTDIR }}/share/GeoIP"
          wget -O /tmp/GeoIPCity.dat.gz https://sources.archlinux.org/other/packages/geoip-database/20250129/GeoIPCity.dat.gz
          gzip -dc /tmp/GeoIPCity.dat.gz > ${{ env.OUTDIR }}/share/GeoIP/GeoIPCity.dat

          wget -O /tmp/flags_1.0.4.tar.xz http://packages.linuxmint.com/pool/main/f/flags/flags_1.0.4.tar.xz
          tar -xf /tmp/flags_1.0.4.tar.xz -C /tmp && cp -r /tmp/flags/usr/share/iso-flag-png ${{ env.OUTDIR }}/share

          glib-compile-schemas.exe ${{ env.OUTDIR }}/share/glib-2.0/schemas

      - name: Upload portable artifact
        uses: actions/upload-artifact@v4
        with:
          name: >-
            ${{
              (github.event_name == 'pull_request' &&
                format('gswatcher_{0}+windows-portable.{1}.pr{2}.build{3}', env.APP_VERSION, matrix.arch, github.event.number, github.run_number)) ||
              format('gswatcher_{0}+windows-portable.{1}.build{2}', env.APP_VERSION, matrix.arch, github.run_number)
            }}
          path: ${{ env.OUTDIR }}

  build-appimage:
    strategy:
      matrix:
        include:
          - { image: ubuntu-24.04,     arch: x86_64  }
          - { image: ubuntu-24.04-arm, arch: aarch64 }

    runs-on: ${{ matrix.image }}

    needs: build-linux

    env:
      OUTDIR: AppDir

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Extract version
        run: |
          VERSION=$(grep -oP "version: '\K[0-9]+\.[0-9]+\.[0-9]+" meson.build)
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: gswatcher_${{ env.APP_VERSION }}+${{ matrix.image }}.*
          path: temp_artifacts

      - name: Extract build artifacts
        run: |
          ARTIFACT_DIR=$(find temp_artifacts -maxdepth 1 -type d -name "gswatcher_${{ env.APP_VERSION }}+${{ matrix.image }}.*" | head -n 1)
          mkdir -p ${{ env.OUTDIR }}/usr
          cp -r "$ARTIFACT_DIR"/* ${{ env.OUTDIR }}/usr/
          rm -rf temp_artifacts

      - name: Setup dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfuse2t64 libgee-0.8-dev libgtk-4-dev libadwaita-1-dev liblua5.4-dev libgeoip-dev

      - name: Get linuxdeploy
        run: |
          wget -c "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-${{ matrix.arch }}.AppImage" -O linuxdeploy.AppImage
          chmod +x linuxdeploy.AppImage
          wget -c "https://raw.githubusercontent.com/linuxdeploy/linuxdeploy-plugin-gtk/master/linuxdeploy-plugin-gtk.sh"
          chmod +x linuxdeploy-plugin-gtk.sh

      - name: Build AppImage
        run: |
          export OUTPUT="gswatcher-${{ env.APP_VERSION }}-${{ matrix.arch }}.AppImage"
          export DEPLOY_GTK_VERSION=4
          ./linuxdeploy.AppImage --appdir ${{ env.OUTDIR }} --plugin gtk --output appimage --icon-file "${{ env.OUTDIR }}/usr/share/icons/hicolor/512x512/apps/io.github.lxndr.gswatcher.png" --desktop-file "${{ env.OUTDIR }}/usr/share/applications/io.github.lxndr.gswatcher.desktop"
          ls

      - name: Upload AppImage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: >-
            ${{
              (github.event_name == 'pull_request' &&
                format('gswatcher_{0}+{1}.pr{2}.appimage.{3}.build{4}', env.APP_VERSION, matrix.image, github.event.number, matrix.arch, github.run_number)) ||
                format('gswatcher_{0}+{1}.appimage.{2}.build{3}', env.APP_VERSION, matrix.image, matrix.arch, github.run_number)
            }}
          path: gswatcher-${{ env.APP_VERSION }}-${{ matrix.arch }}.AppImage

  release:
    runs-on: ubuntu-24.04

    needs:
      - create-windows-portable
      - build-appimage

    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}

    steps:
      - name: Download Windows portable artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: gswatcher_*+windows-portable.*
          path: ./artifacts

      - name: Download AppImage artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: gswatcher_*+*.appimage.*
          path: ./artifacts

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: false
          files: ./artifacts/**
