name: Release

on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_tag, 'v') }}
    
    steps:
      - name: Download Windows portable artifacts
        uses: actions/download-artifact@v4
        with:
          run_id: ${{ github.event.workflow_run.id }}
          pattern: gswatcher-v*-windows-*-portable-*
          path: ./artifacts

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: false
          files: ./artifacts/**
